<div>
     <h2 >Demo Form: blog creation that doesn't post yet</h2>
     <form [formGroup]="myForm"
           (ngSubmit)="onSubmit(myForm.value)"
           class="ui form">

       <div>
          <label for="title">Title:</label><br>
          <input type="text" id="title" placeholder="title of the new blog"
                [formControl]="myForm.controls['title']"><br>
          <label for="body">Blog:</label> <br>
          <textarea rows="20" cols="100" id="body" placeholder="body of the new blog"
          [formControl]="myForm.controls['body']"></textarea>

       </div>

     <button type="submit" class="ui button">Submit</button>
     </form>
     <app-blog>
          <!-- need/want to target each and add buttons for edit/delete
               it also should change the function of the formabove to achieve this
               or it should be hidden-->
     </app-blog>
   </div>
