<form [formGroup]="blog" (submit)="post()">
     <div>
          <label>Title:
               <input type="text" formControlName="title">
          </label>
     </div>
     <div>
          <label>Blog: <br>
               <textarea rows="20" cols="75" formControlName="body"></textarea>
          </label>
     </div>
<button type="submit" (submit)="post()">submit!</button>
</form>
<p>Preview: {{ blog.value | json}}</p>
<div *ngFor="let b of blogs">
     {{b._id}} <br>
     <h1>{{b.title}}</h1>
     <div >
          {{b.body}}
          <hr>
     </div>
     <button id="{{b._id}}" (click)="edit()">Edit:</button>
     <button id="{{b._id}}" (click)="delete()">Delete:</button>
</div>




